body {
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: Cocogoose;
    src: url('Fuentes/Cocogoose Pro-trial.ttf');
}

#logo h1{
    font-family: Cocogoose, sans-serif;
    padding: 1%;
}

#inicioSesion {
    background-color: #32FF6A;
    margin: 2% 8% 2% 8%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#inicioSesion form {
    width: max-content;
    height: max-content;
}

#hola {
    background-color: rgb(167, 27, 27);
    margin-top: 2%;
}

#inicioSesion form label {
    font-family: Cocogoose, sans-serif;
    margin: 1%;
}

#inicioSesion form input {
    margin: 1%;
}